<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Description" content="***" />
	<title>***</title>
	<script type='text/javascript' src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/autovalidate/style.css" />
	<script type='text/javascript' src="__PUBLIC__/js/autovalidate/validate.js"></script>
	<script type="text/javascript">
	
		var $CONFIG = {
		
			$encode_key     : "BD325CE52FC6BA090AC0C7A2039236587F99C30FA518F601F2AD33019514EE5A4340A964853E1BDF5374AB4AC22F5CFF3288E5DB94E6752B4999972DF4E23DACACAE4E4DCFB6CBAE256F1B19C4BA892D54C7A3E068F93AB47EC50635556FC223F02CB1F520631E2F03E5509B6C1E24DFB7962BCD6DC74159BF0E5AFC03D9A00D",
		
			$key_plus     : "10001",
		
			$lang			: "zh",
		
			$oid			: "",
		
			$uid			: "",
		
			$severtime		: "1332983244",
		
			$token			: "bcda3c12ba4197fd1e63028f1558584f",
		
			$product		: "miniblog",
		
			$pageid			: "",
		
			$cuser_status	: "full",
		
			$skin			: "",
		
			$domain         : "weibo.com/",
		
			$FW			: ""
		
			
		
		};	
	var scope = $CONFIG;
	</script>
	<link href="../Public/css/sina/layer.css" type="text/css" rel="stylesheet" /> 
	<link href="../Public/css/sina/regv4.css" type="text/css" rel="stylesheet" />
	<link href="../Public/css/sina/layout.css"  type="text/css" rel="stylesheet" />
	<!-- by dongsheng1 -->
</head>
<body class="regbody">
	<div class="cloud"></div>
	<div class="regv4  ">
		<a href="javascript:void(0)" class="guidelink"></a>
		<div class="reg_title">用一句话记录生活，用手机随时随地分享生活，超过1亿网民的选择</div>
		<div class="reg_con">
			<!--fuen 内容框-->
			<div class="reg_conbg" id="information_box">
				<!-- layout::$viewcontent::0 -->
			</div>
		</div>
		<div class="regv4_foot">
			<ul>
				<li><a href="{:U('AppStore://App-Block/aboutUs')}">关于我们</a></li>
				<li><a href="{:U('AppStore://App-Block/agreement')}">服务条款</a></li>
				<li><a href="{:U('AppStore://App-Block/devNotes')}">开发者须知</a></li>
				<li><a href="{:U('AppStore://App-Block/disclaimer')}">免责声明</a></li>
			</ul>
			<p>Copyright &copy; 2010-2011 Hjapp Rights Reserved</p>
		</div>
		<script type="text/javascript" src="../Public/js/sina/lang_zh.js"></script>
	</div>
	<script type="text/javascript" src="../Public/js/sina/register_tel.js"></script>
</body>
</html>